<div class="container">
    <h2>Login</h2>
    <form>
        <div class="form-group">
            <label for="inputEmail">E-mail:</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Enter E-mail"/>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password:</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Enter password"/>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"/> Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-default">Login</button>
    </form>
</div>